body {
  background: #1E1E1F;
  margin: 0;
}

#root {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
}

